body {
    background-color: #028090;
    font-family:  monospace;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #F45B69;
}

label {
    font-size: 24px;
    margin: 10px 0;
    display: block;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #F45B69;
    border-radius: 5px;

}